body {
    display: grid;
    grid-template-rows: auto auto 5fr 1fr;
    height: 100vh;
    margin: 0;
    background-color: #e6e6e6;
}

/* Ship */
.ship {
    background-color: #a6a6a6;
}

.hit {
    background-color: #ffb3b3;
}

.miss {
    background-color: #ffffff;
}

/* Info */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.game-info {
    text-align: center;
    margin: 0;
}

.names {
    display: flex;
    justify-content: space-around;
}

/* Boards */
.boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 12px;
    justify-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 25px;
    width: 85%;
}

.board > div {
    border: 1px solid black;
}

/* Ship spawn */
.ship-spawn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-spawn {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 65%;
    height: 75%;
}

.ship-spawn > div {
    border: 1px solid black;
}
