body {
    display: grid;
    grid-template-rows: 1fr auto 5fr 1fr;
    height: 100vh;
    margin: 0;
    background-color: #808080;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 12px;
    justify-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 25px;
    width: 85%;
}

.board > div {
    border: 1px solid black;
}

.game-info {
    text-align: center;
    margin: 0;
}

.names {
    display: flex;
    justify-content: space-around;
}
