body {
    display: grid;
    grid-template-rows: auto auto 5fr 1fr;
    height: 100vh;
    margin: 0;
    background-color: #e6e6e6;
}

/* Player */
.current-player {
    background-color: rgba(1,1,1,0.25);
}

/* Ship */
.ship {
    background-color: #a6a6a6;
}

.hit {
    background-color: #ffb3b3;
}

.miss {
    background-color: #ffffff;
}

/* Info */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.game-info {
    text-align: center;
    margin: 0;
}

.names {
    display: flex;
    justify-content: space-around;
}

/* Boards */
.boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 12px;
    justify-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 25px;
    width: 85%;
}

.board > div {
    border: 1px solid black;
}

.active {
}

.active:hover{
    background-color: rgba(1,1,1,0.1);
}

/* Ship spawn info */
.ship-spawn-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ship-spawn-info > p {
    margin: 0;
}

.ship-spawn-info > button {
    margin: 6px;
}

/* Popup form */
.popup-form-container {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(1,1,1,0.5);
    background-color: white;
}

.popup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-close {
    color: #808080;
    font-size: 1.5rem;
    justify-self: end;
}
  
.form-close:hover, .form-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#form-submit {
    justify-self: center;
    margin-top: 6px;
}
